<!DOCTYPE html>
<html lang="en">
<head>
<title>TDCN Motto Store - <% if (user.displayName) { %><%= user.displayName %>'s<% } %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<h1> <% if (user.displayName) { %><%= user.displayName %>'s<% } %> Profile </h1>
<img src=<%= user._json.picture %> height=120 width=120><br/>
Family Name: <%= user.name.familyName %><br/>
Given Name: <%= user.name.givenName %><br/>
<br/>

<h2>My Motto</h2>
<% if (motto) { %><%= motto %><% } %>

<h3>Update My Motto</h3>
<form action="/profile" method="post">
<input type="text" name="motto" maxlength="<%= mottoLengthMax %>" size="80" value="<% if (motto) { %><%= motto %><% } %>" autofocus><br/>
(<%= mottoLengthMax %> characters max)<br/>
<button class="btn" type="submit">Send</button>
</form>
<br/>

<a href="/logout">Logout</a><br/>
</div>

</body>
</html>
